BOT_TOKEN=
FP_CHAT_ID=1001905865504
DATABASE_URL=sqlite+aiosqlite:////app/data/bot.db
SUPERVISOR_USERNAME=Fedos_AV
INSPECTION_STAFF_USERNAMES=
DATA_DIR=/app/data
VEHICLE_PLATES_XLSX=/app/seed/park_cars.xlsx
